{:project org.arachne-framework/arachne-cljs
 :version {:major 0, :minor 1, :patch 0, :qualifier :dev}
 :description "CLJS Arachne module"
 :license {"Apache Software License 2.0" "http://www.apache.org/licenses/LICENSE-2.0"}
 :deps [[org.clojure/clojure "1.9.0-alpha14" :scope "provided"]
        [org.clojure/clojurescript "1.9.293"
         :exclusions [org.clojure/clojure]]
        [org.arachne-framework/arachne-assets "0.1.0-master-0048-95bca5a"
         :exclusions [org.clojure/tools.reader]]
        [adzerk/boot-test "1.1.2" :scope "test"]
        [org.clojure/test.check "0.9.0" :scope "test"
         :exclusions [org.clojure/clojure]]
        [org.clojure/tools.namespace "0.2.11" :scope "test"
         :exclusions [org.clojure/clojure]]
        [datascript "0.15.3" :scope "test"]
        [com.datomic/datomic-free "0.9.5350"
         :exclusions [org.slf4j/slf4j-api
                      org.slf4j/slf4j-nop
                      org.slf4j/slf4j-log4j12
                      org.slf4j/log4j-over-slf4j
                      com.google.guava/guava
                      org.slf4j/jcl-over-slf4j
                      org.clojure/clojure
                      org.slf4j/jul-to-slf4
                      commons-codec]
         :scope "test"]
        [ch.qos.logback/logback-classic "1.1.3" :scope "test"
         :exclusions [org.slf4j/slf4j-api]]]}
