[{:arachne/name :org.arachne-framework/arachne-cljs
  :arachne/schema arachne.cljs/schema
  :arachne/configure arachne.cljs/configure
  :arachne/dependencies [:org.arachne-framework/arachne-assets]}]
